@charset "UTF-8";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font: normal 16px "Noto Sans KR", "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
}

.inner {
  height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}
.hidden {
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: -1;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
}
::-webkit-scrollbar-track {
  background: #efefef;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* IR */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
